[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=firewalld.service network-online.target
Requires=balena-engine.socket

[Service]
Type=idle
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
#ExecStart=/usr/local/bin/balena-engine-daemon --insecure-registry 127.0.0.1:{{ipfs_docker_registry_port}} --insecure-registry {{olip_core_network.gateway}}:{{ipfs_docker_registry_port}} -H fd://
ExecStart=/usr/local/bin/balena-engine-daemon {% if ext_hdd %}-g /media/hdd/balena-engine{% endif %} -H fd://
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
#TasksMax=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process
# restart the docker process if it exits prematurely
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
