[Unit]
Description=parsing the log.

[Service]
Type=simple
Environment="NGINX_LOG_PATH={{nginx_log_path}}" 
Environment="NGINX_LOG_FILE={{nginx_log_file}}" 
Environment="ARCHIVEFILE_PATH={{config_files}}/archivefile.json" 
Environment="STATEFILE_PATH={{config_files}}/statefile.json" 
Environment="LOGFORMAT_PATH={{config_files}}/logformat"
ExecStart={{remote_host_dest}}/venv/bin/python -u main.py -vv
WorkingDirectory={{workdir}}/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target



